---
import Page from "../layouts/Page.astro"
import ZennContent from "../components/Zenn.astro"
---
<Page title="TRANs">
  <div class="mx-10 mt-4">
    <div class="text-9xl text-center font-bold">404</div>
    <div class="text-center text-xl">Not Found</div>
    <div class="text-center">
      <div>このページは存在しませんっ！</div>
      <div>URLを間違えている可能性があるので、見直すことを検討してください。</div>
    </div>
  </div>
</Page>
