---
import Page from "../layouts/Page.astro"
import transLogo from "../assets/TRANs.svg"
import ZennContent from "../components/Zenn.astro"
---
<Page title="TRANs">
  <div class="mx-10 mt-4 min-h-screen">
    <div class="text-center">
      <div><img src={transLogo} alt="TRANs" class="h-12 mx-auto" /></div>
      <div>生徒会情報機構</div>
    </div>
    <div>
      <div class="text-2xl">TRANsとは?</div>
      <div>
        TRANs(生徒会情報機構)は生徒会のデジタル委員会やICT委員会などの情報共有・知見交流・技術共有・システム統合に向けて設立された機関です。
        <br>また、地域間の情報格差の是正や技術的問題の早期解決なども目的としています。
      </div>
    </div>
    <div>
      <div class="text-2xl">Zennの投稿</div>
      <ZennContent />
    </div>
  </div>
</Page>