---
import { Image } from 'astro:assets';
import transLogo from "../assets/TRANs.svg"
---
<div class="flex border drop-shadow-md p-4 bg-white opacity-90">
  <div>
    <a href="/">
      <Image src={transLogo} alt="TRANs" class="h-8" />
    </a>
  </div>
</div>
