---
import transLogo from "../assets/TRANs.svg"
---
<div class="flex border drop-shadow-md p-4 bg-white opacity-90">
  <div>
    <div class="text-bold flex gap-2 items-center">
      <a href="/">
        <img src={transLogo} alt="TRANs" class="h-8" />
        <span>生徒会情報機構</span>
      </a>
    </div>
  </div>
</div>
