---
import transLogo from "../assets/TRANs.svg"
---
<div class="flex border drop-shadow-md p-4 bg-white opacity-90">
  <div>
    <a href="/">
      <div class="text-bold flex gap-2 items-center">
        <img src={transLogo} alt="TRANs" class="h-8" />
      </div>
    </a>
  </div>
</div>
