---
export type Props = {
  link: string,
  imgSrc: string,
  name: string,
};
const { link, imgSrc, name }: Props = Astro.props;
---

<a href={link} class="text-center m-2">
  <img src={imgSrc} alt={name} class="h-20" />
  {/*name*/}
</a>
