---
import Page, { type Props as PageProps } from "./Page.astro"
export type Props = PageProps

---
<Page {...Astro.props}>
  <div class="prose">
    <div class="mx-10">
      <slot />
    </div>
  </div>
</Page>