---
import Base, { type Props as BaseProps } from "./Base.astro"
export type Props = BaseProps

import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
---
<Base {...Astro.props}>
  <div class="sticky top-0 z-highest">
    <Header />
  </div>
  <slot />
  <Footer />
</Base>
